{{ ansible_managed|comment }}
{% for item in influxdb_relay_servers %}
[[{{ item['protocol'] }}]]
name = "{{ item['name'] }}"
bind-addr = "{{ item['bind_addr'] }}:{{ item['bind_port'] }}"
output = [
{%   for output in item['outputs'] %}
    { name="{{ output['name'] }}", location="{{ output['location'] }}" },
{%   endfor %}
]
{% endfor %}
